body{
  font-family: serif;
  display: grid;
  grid-gap:10px;
  padding:10px;
  background: rgb(65,220,222);
    background: linear-gradient(0deg, rgba(65,220,222,1) 0%, rgba(155,228,168,1) 50%, rgba(255,139,234,1) 100%);
}

article {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: minmax(300px, 1fr);
  grid-gap: 10px;
}

section {
  border-radius: 25px;
  padding: 10px;
  font-family: serif;

}

h1{
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  font-family: serif;
  color: white;
  font-style: oblique;

}
h2{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
------------
font-family
margin-top
margin-bottom - like padding

h2 :: before {
  content: "soemthing"
}
____________
