body{
  font-family: serif;
  display: grid;
  grid-gap:10px;
  padding:10px;
}
<style>
#grad1 {
    height: 200px;
    background: red; 
    background: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}
</style>

article {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: minmax(300px, 1fr);
  grid-gap: 10px;
}

section {
  background-color: #b3f0ff;
  border-radius: 25px;
  padding: 10px;
  font-family: serif;

}

h1{
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  font-family: serif;
  color: #e67300;
  font-style: oblique;

}
h2{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
------------
font-family
margin-top
margin-bottom - like padding

h2 :: before {
  content: "soemthing"
}
____________
